.grid {
    margin: 2rem 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}