@use "./assets/scss/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: white;
  height: 100vh;
}

h1 {
  margin-top: 2rem;
  color: $dark;
}


